<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temp</title>
</head>
<body>
<h1>Welcome to text analyazer . Enter your text below</h1>
<form action ='/analyse' method="get">
    <textarea name ='text' style="margin: 0px; width: 1512px; height: 165px;"></textarea>
   <input type="checkbox" name="removepunc">Remove Punctations<br>
    <input type="checkbox" name="capitalise">Capitalise<br>
    <input type="checkbox" name="newlineremover">Line Remover<br>
    <input type="checkbox" name="spaceremover">Space Remover<br>
    <input type="checkbox" name="charcount">Character Counter<br>
    <button type="Submit"> Analyse Text</button>
</form>

</body>
</html>
